
<hr/>

<h1>Welcome! Login to Bulletin Board!</h1>
<form id="login" name="login" method="POST" action="/users/login">
    <div id="username">
        <label for="name">Username: </label>
        <input type="text" name="username" required>
    </div>
    <div id="password">
        <label for="name">Password: </label>
        <input type="text" name="password" required>
    </div><br>
    
    <div id="submit">
        <button id="button" type="submit">Submit</button>
    </div>
</form>