
<hr/>

<h1>Welcome! Please sign up for Bulletin Board</h1>

<form method="POST" action="/users/signup" id="signup" name="signup">
    <div>
        <label for="name">First Name: </label>
        <input type="text" name="firstName" required>
    </div>
    <div>
        <label for="name">Last Name: </label>
        <input type="text" name="lastName" required>
    </div>
    <div>
        <label for="name">Email: </label>
        <input type="text" name="email" required>
    </div>
    <div>
        <label for="name">Username: </label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="name">Password: </label>
        <input type="password" name="password" required>
    </div>
    <div>
        <button id="button"  type="submit">Submit</button>
    </div>
</form>